.container{
    text-align: center;
    background-color: antiquewhite;
    margin-left: 35%;
    margin-right: 35%;
    padding: 5%;
    justify-content: space-around;
}
.detail{
    text-align: center;
}
.page{
    text-align: center;
    font-size: 300%;
}